@use "../abstracts/variables" as vars;

.footer {
  padding-top: 56px;
  padding-bottom: 188px;

  &__cover {
    display: flex;

    &--img {
      width: 309px;
    }

    .footer__content--cover {
      &:first-child {
        width: 309px;
      }

      display: flex;
      flex-direction: column;
      gap: 19px;
      padding-top: 8px;

      a {
        text-decoration: none;
        letter-spacing: 0.25px;
        color: var(--primary-color);
        font-weight: 500;
      }
    }
    .footer__content--cover--first {
      width: 306px;
    }
    .footer__content--cover--center {
      width: 306px;
    }
  }
  &__term {
    padding-top: 190px;

    &--cover {
      width: 100%;
      display: flex;
      border-top: 3px solid #ccc;
      padding-top: 18px;
      display: flex;
      justify-content: space-between;

      a {
        font-size: 12px;
        text-decoration: none;
        color: var(--primary-color);
      }

      div {
        &:nth-child(1) {
          padding-top: 4px;
          display: flex;
          gap: 18px;
        }
        &:nth-child(2) {
          padding-top: 1px;
          padding-right: 4px;
        }
      }
    }
  }
}
