@use "../abstracts/mixins";

.footer {
  padding-top: 56px;
  padding-bottom: 188px;

  @include mixins.for-medium {
    margin-left: 10px;
    margin-right: 10px;
  }

  @include mixins.for-mobile {
    margin-left: 5px;
    margin-right: 5px;
  }

  &__cover {
    display: flex;
    gap: 56px;

    div {
      width: calc(100% / 4);

      @include mixins.for-mobile {
        width: unset;
      }
    }

    &--img {
      @include mixins.for-medium {
        width: unset;
      }

      @include mixins.for-mobile {
        width: unset;
      }
    }

    .footer__content--cover {
      &:first-child {
        @include mixins.for-medium {
          width: unset;
        }

        @include mixins.for-mobile {
          width: unset;
        }
      }

      display: flex;
      flex-direction: column;
      gap: 27px;
      padding-top: 11px;

      a {
        text-decoration: none;
        letter-spacing: 0.25px;
        color: var(--primary-color);
        font-weight: 500;

        &:hover {
          color: var(--secondary-color);
        }
      }

      @include mixins.for-mobile {
        text-align: center;
        padding: 20px 0;
        gap: 10px;
      }
    }

    .footer__content--cover--first {
      @include mixins.for-medium {
        width: unset;
      }

      @include mixins.for-mobile {
        width: unset;
      }
    }
    .footer__content--cover--center {
      @include mixins.for-medium {
        width: unset;
      }

      @include mixins.for-mobile {
        width: unset;
      }
    }

    @include mixins.for-medium {
      justify-content: space-around;
    }

    @include mixins.for-mobile {
      flex-direction: column;
    }
  }

  &__term {
    padding-top: 194px;

    @include mixins.for-mobile {
      padding-top: 30px;
    }

    &--cover {
      width: 100%;
      display: flex;
      border-top: 3px solid #ccc;
      padding-top: 22px;
      display: flex;
      justify-content: space-between;

      a {
        font-size: 12px;
        text-decoration: none;
        color: var(--primary-color);

        &:hover {
          text-decoration: underline;
        }
      }

      div {
        &:nth-child(1) {
          padding-top: 4px;
          display: flex;
          gap: 18px;
        }

        &:nth-child(2) {
          padding-top: 1px;
          padding-right: 4px;
        }
      }
    }
  }

  @include mixins.for-mobile {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
