@use "../abstracts/mixins";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 114px;

  @include mixins.for-large {
    padding: 0 1%;
  }

  @include mixins.for-medium {
    justify-content: space-between;
    padding: 0 20px;
  }

  @include mixins.for-mobile {
    padding: 0 20px;
    height: 80px;
  }

  .nav {
    margin-bottom: 13px;

    &__list li {
      width: 100.1px;
      display: inline-block;

      &:nth-child(3) {
        margin-right: 30px;

        @include mixins.for-mobile {
          margin: 0;
        }

        @include mixins.for-medium {
          width: unset;
        }
      }

      &:nth-child(1) {
        margin-right: 18px;
        @include mixins.for-mobile {
          margin: 0;
        }

        @include mixins.for-medium {
          width: unset;
        }
      }

      &:nth-child(4) {
        a {
          border: 1px solid black;
          @include mixins.for-mobile {
            border: unset;
          }
        }
      }

      a {
        text-decoration: none;
        color: #333;
        font-size: 16px;
        font-weight: 500;
        padding: 10px 26px;
        border-radius: 25px;

        &:hover {
          color: var(--secondary-color);
        }
      }
    }

    &__list {
      @include mixins.for-mobile {
        width: 30%;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        position: absolute;
        top: 50px;
        right: 10px;
        box-shadow: 0 20px 26px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        padding: 10px;
        gap: 10px;
        border: 0.1px solid #e5e5e5;
        text-align: center;

        li a {
          color: var(--primary-color);

          &:hover {
            color: var(--secondary-color);
          }
        }
      }

      &.active {
        display: flex;
      }

      @include mixins.for-medium {
        margin: unset;
      }
    }
  }

  &--bar {
    font-size: 28px;
    display: none;
    margin-bottom: 10px;
    cursor: pointer;

    @include mixins.for-mobile {
      display: block;
    }
  }
}
