@use "../abstracts/variables" as vars;
.contact {
  padding-top: 44px;
  display: flex;
  flex-direction: column;
  border-bottom: 4px solid var(--primary-color);
  padding-bottom: 84.5px;
  &--infor {
    width: 826px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 64px;
    border-bottom: 2px solid var(--primary-color);
    p {
      color: var(--primary-color);
      font-size: 28px;
      font-weight: bold;
    }
  }
  &--logo {
    width: 778px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    gap: 103px;
    padding-top: 64px;
  }
  &__playground {
    padding-top: 175px;
    &--infor {
      text-align: center;
      h2 {
        color: var(--primary-color);
        font-size: 38px;
        letter-spacing: 0.4px;
      }
      & > div {
        padding-top: 20px;
        letter-spacing: 0.2px;

        font-size: 24px;
        a {
          color: var(--secondary-color);
        }
      }
    }
  }
  &__slider {
    padding-top: 56px;
    display: flex;
    gap: 30px;
  }
  &__form {
    padding-top: 170px;
    display: flex;
    &--title {
      width: 556px;
      color: var(--primary-color);
      h2 {
        font-weight: 900;
        font-size: 28px;
        line-height: 1.45;
        letter-spacing: 0.35px;
      }
    }
    &--subscribe {
      width: 620px;
      &--cover {
        position: relative;
      }
      input {
        width: 100%;
        height: 62px;
        line-height: 64px;
        padding: 0 26px;
        font-size: 15px;
        letter-spacing: 0.3px;
        background-color: #f2f1f6;
        border: none;
      }
      span {
        position: absolute;
        top: 51%;
        right: 25px;
        transform: translateY(-50%);
        cursor: pointer;
        color: var(--primary-color);
        font-size: 14px;
        font-weight: bold;
      }
      &--icon {
        padding-left: 38px;
        padding-top: 44px;
        & > div {
          display: flex;
          gap: 36px;
          i {
            font-size: 26px;
            &:nth-child(5) {
              font-size: 24px;
              margin-right: 12px;
            }
          }
        }
      }
    }
  }
}
