/* content.scss */
@use "../abstracts/variables" as vars;

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 72px;
  &__title h1 {
    color: vars.$primary-color;
    font-size: 72px;
    font-weight: bold;
  }
  &__sub__title {
    padding: 18px 0;
    p {
      color: vars.$primary-color;
      font-size: 24px;
      text-align: center;
    }
  }
  &__btn {
    padding-top: 14px;
    display: flex;
    justify-content: center;
    gap: 30px;
    button {
      text-align: center;
      align-items: center;
      padding: 14px 34px;
      color: vars.$primary-color;
      font-size: 16px;
      border-radius: 50px;
      font-weight: 500;
      font-size: 19px;
    }
    .content__btn--primary {
      background-color: vars.$secondary-color;
      border: none;
      box-shadow: 0 30px 40px rgba(vars.$secondary-color, 0.6);
    }
    .content__btn--secondary {
      background-color: transparent;
      border: 1px solid vars.$primary-color;
    }
  }
  &__list {
    width: 100%;
    padding-top: 162px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    &__card {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 270px; /* Card width */
      padding: 16px;
      border-radius: 30px;
      background-color: #fff;
      text-align: left; /* Align text to the left */

      &--cover {
        display: flex;
        flex-direction: column; /* Stack image and text vertically */
        align-items: center; /* Center image horizontally */
        position: relative;
        z-index: 2;
        .content__list_card__des {
          width: 100%;
          padding: 26px 0;
          margin-left: 13px;
          h1 {
            font-size: 26px;
            color: vars.$primary-color;
          }
          p {
            i {
              margin-left: 14px;
            }
            margin-top: 14px;
            color: #555;
          }
        }
      }
    }
  }
}
