@use "../abstracts/mixins";

.contact {
  padding-top: 54px;
  display: flex;
  flex-direction: column;
  border-bottom: 4px solid var(--primary-color);
  padding-bottom: 84.5px;
  justify-content: center;
  align-items: center;

  @include mixins.for-medium {
    margin-left: 10px;
    margin-right: 10px;
  }

  @include mixins.for-mobile {
    margin-left: 5px;
    margin-right: 5px;
  }

  &--infor {
    width: 70%;
    text-align: center;
    padding-bottom: 70px;
    border-bottom: 2px solid var(--primary-color);
    justify-content: center;
    align-items: center;

    @include mixins.for-mobile {
      width: unset;
    }

    p {
      color: var(--primary-color);
      font-size: 28px;
      font-weight: bold;
    }
  }

  &--logo {
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    gap: 103px;
    padding-top: 64px;

    @include mixins.for-medium {
      width: 100%;
      justify-content: space-around;
      gap: 28px;
    }

    @include mixins.for-mobile {
      width: unset;
      gap: 20px;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }

  &__playground {
    padding-top: 190px;

    &--infor {
      text-align: center;

      h2 {
        color: var(--primary-color);
        font-size: 38px;
        letter-spacing: 0.4px;
      }

      & > div {
        padding-top: 34px;
        letter-spacing: 0.2px;
        font-size: 24px;

        a {
          color: var(--secondary-color);
        }
      }
    }
  }

  &__slider {
    padding-top: 62px;
    display: flex;
    gap: 30px;

    @include mixins.for-large {
      justify-content: space-around;

      img {
        width: 230px;
      }
    }

    @include mixins.for-medium {
      flex-wrap: wrap;
      justify-content: space-around;
    }

    @include mixins.for-mobile {
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
  &__form {
    padding-top: 176px;
    display: flex;
    width: 100%;

    &--title {
      width: 47.3%;
      color: var(--primary-color);

      @include mixins.for-large {
        width: 48%;
      }

      @include mixins.for-medium {
        width: 45%;
      }

      @include mixins.for-mobile {
        width: unset;
      }

      h2 {
        font-weight: 900;
        font-size: 28px;
        line-height: 1.45;
        letter-spacing: 0;

        @include mixins.for-mobile {
          text-align: center;
          font-size: 1rem;
        }
      }
    }
    &--subscribe {
      width: calc(100% - 48%);

      @include mixins.for-large {
        width: 45%;
      }

      @include mixins.for-medium {
        width: 40%;
      }

      @include mixins.for-mobile {
        width: unset;
        padding-top: 20px;
      }

      &--cover {
        position: relative;
      }

      input {
        width: 92%;
        height: 62px;
        line-height: 64px;
        padding: 0 26px;
        font-size: 15px;
        letter-spacing: 0.3px;
        background-color: #f2f1f6;
        border: none;

        @include mixins.for-mobile {
          padding-left: 10px;
          padding-right: 0;
          width: 100%;
        }
      }
      span {
        position: absolute;
        top: 51%;
        right: 16px;
        transform: translateY(-50%);
        cursor: pointer;
        color: var(--primary-color);
        font-size: 14px;
        font-weight: bold;

        &:hover {
          color: var(--secondary-color);
        }

        @include mixins.for-mobile {
          right: -5px;
        }
      }
      &--icon {
        padding-left: 38px;
        padding-top: 44px;

        & > div {
          display: flex;
          gap: 36px;

          i {
            font-size: 26px;
            cursor: pointer;

            &:hover {
              color: var(--secondary-color);
            }

            &:nth-child(5) {
              font-size: 24px;
              margin-right: 12px;
            }
          }
        }
      }
    }

    @include mixins.for-mobile {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 60px;
    }
  }
}
