* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400; /* Default weight is Regular */
  color: #333; /* Base text color */
}

.wrapper {
  width: 1172px;
  margin-left: auto;
  margin-right: auto;
}
.bg-pink {
  background-color: #f465d5;
}
.bg-green {
  background-color: #00b894;
}
.bg-blue {
  background-color: #3498db;
}
.bg-yellow {
  background-color: #ffda7b;
}
.ml-10 {
  margin-left: 10px;
}
.blur-background {
  position: absolute;
  bottom: 0; /* Đảm bảo lớp mờ chỉ nằm phía dưới */
  left: 0;
  width: 100%;
  height: 50%; /* Chiều cao chỉ chiếm nửa dưới */
  background-size: cover;
  background-position: center;
  filter: blur(40px); /* Làm mờ nhẹ hơn */
  opacity: 0.3; /* Giảm độ rõ để tạo hiệu ứng nhẹ nhàng */
  z-index: -1; /* Đặt lớp nền phía sau */
  pointer-events: none; /* Đảm bảo không ảnh hưởng đến tương tác */
}
.circle {
  background-image: url("../../../assets/images/img1.png");
}
.cart {
  background-image: url("../../../assets/images/img2.png");
}
.tent {
  background-image: url("../../../assets/images/img3.png");
}
.cake {
  background-image: url("../../../assets/images/img4.png");
}

@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400; /* Regular */
}
