$breakpoint-mobile: 700px;
$breakpoint-medium: 1024px;
$breakpoint-large: 1200px;

:root {
  --color-black: #000;
  --primary-color: #1a2b5f;
  --secondary-color: #ffda7b;
  --color-pink: #f465d5;
  --color-green: #00b894;
  --color-blue: #3498db;
  --color-yellow: #ffda7b;
}
